body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.images > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width:400px;
    height:auto;
}

a{
    width:20%;
}
